table tr:nth-child(even) {
  background-color: #f7fafc;
}

@media screen and (max-width: 1150px) {
  table thead {
    display: none;
  }

  table tbody {
    display: flex;
    flex-wrap: wrap;
  }

  table tr {
    display: block;
    margin-bottom: 20px;
    width: 45%;
    margin-right: 20px;
  }

  table td {
    display: block;
    text-align: right;
    background-color: #edf2f7;
    border-bottom: 0px;
  }

  table td::before {
    content: attr(data-title);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 800px) {
  table tbody {
    display: block;
  }
  table tr {
    width: 100%;
    margin-right: 0px;
  }
}
